<h1>TiCamShader Module</h1>
<h2>Description</h2>
<p>This module provides a custom scrollable view that controls a live
camera view that is shaded with a custom tint color for each page.</p>
<h2>Accessing the ticamshader Module</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<pre><code>var ticamshader = require("com.semanticpress.ticamshader");
</code></pre>
<p>The ticamshader variable is a reference to the Module object. <br />
</p>
<h2>Usage</h2>
<p>To access this module from JavaScript, you would do the following:</p>
<pre><code>var ticamshader = require("com.semanticpress.ticamshader");
</code></pre>
<p>The ticamshader variable is a reference to the Module object.  Use the
module object to construct a TiCamShaderScrollableView like this:</p>
<pre><code>var redPageView = Ti.UI.createView({
    camShaderColor: "#ff0000"
});
var greenPageView = Ti.UI.createView({
    camShaderColor: "#00ff00"
});
var bluePageView = Ti.UI.createView({
    camShaderColor: "#0000ff"
});
var scrollableView = ticamshader.createScrollableView({
    views:[redPageView, greenPageView, bluePageView]
});
</code></pre>
<p>In this example, the scrollable view will present three pages that will
tint the camera view red, green, and blue respectively.  You can access the 
camera view using the camView property of the TiCamShaderScrollableView
like this:</p>
<pre><code>var camView = scrollableView.camView;
</code></pre>
<p>This property returns a TiCamShaderCamView that presents a live camera feed
that is tinted based on the position of the TiCamShaderScrollableView that
created it.  To use these two views together, you should add them both
to the same container with the TiCamShaderCamView in the background, and the 
TiCamShaderScrollableView in the foreground:</p>
<pre><code>var win1 = Titanium.UI.createWindow({  
    backgroundColor:'#000'
});
win1.add(camView);
win1.add(scrollableView);
win1.open();
</code></pre>
<p>The heights of the two views may differ, but you should ensure that they have
the same width to ensure that the tint boundaries line up properly with the page
boundaries.</p>
<h2>Author</h2>
<p>This module was created by Curtis Duhn for Semantic Press.</p>
<h2>License</h2>
<p>See LICENSE.</p>